# Eclipse
.classpath
.project
.settings/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
target/
/Maggi/nbproject/private/
/DatabaseEditor/nbproject/private/
/DatabaseEditor/build/
/kbs/nbproject/private/
/kbs/build/
/DatabaseEditor/dist/